<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#3 template </title>
</head>
<body>
    <h1>Blog List</h1>
    <p>{{ current_time }}</p>
    {% comment %} IF ELSE {% endcomment %}
    {% if blog.0.is_featured %}
    <h2>Featured Blog: {{ blog.0.title }}</h2>
    <p>Current Time: {{ current_time }}</p>
    {% else %}
    <h2>Regular Blog: {{ blog.0.title }}</h2>
    <p>Current Time: {{ current_time }}</p>
    {% endif %}
    {% comment %} For loop {% endcomment %}
    <ul>
        {% for blog in blog %}
        <li>
            <h3>{{ blog.title }}</h3>
            <p>Author: {{ blog.author }}</p>
        </li>
        {% endfor %}
    </ul>
{% comment %} Another for loop {% endcomment %}
<hr>
    <ul>
        {% for blogs in blog %}
        <li>{{forloop.counter}}.{{blogs.title}} - {{blogs.author}} </li>
        {% empty %}
        <li>No blogs available.</li>
        {% endfor %}
    </ul>
    {% comment %} With {% endcomment %}
    {% with total_blogs=blog|length %}
    <p>Total Blogs: {{ total_blogs }}</p>
    {% endwith %}
    {% comment %} CYCLE {% endcomment %}
    <hr>
    <h2>Blog in table</h2>
    <table border="1">
        <tr style="background-color:{% cycle 'lightgray' 'white' %}">
            <th>S.No</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        {% for blog in blog %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ blog.title }}</td>
            <td>{{ blog.author }}</td>
        </tr>
        {% endfor %}
    </table>
    {% comment %} Firstof {% endcomment %}
    <p> Author: {{ blog.1.author|default:"ABC" }}</p>
    {% comment %} Verbatim {% endcomment %}
    {% verbatim %}
    <p> Author: {{blog.0.author}}</p>
    {% endverbatim %}
    {% comment %} Autoescape {% endcomment %}
    <h2>Autoescape</h2>
    <p>default(Safe Escape):{{html_code}}</p>
    <p>{% autoescape off %}{{html_code}}{% endautoescape %}</p>
</body>
</html>